.App {
  text-align: center;
  overflow: hidden;
}

html {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  background: var(--dark-green);
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif !important;
}

:root {
  --pink: #ef476fff;
  --orange: #ffd166ff;
  --green: #06d6a0ff;
  --light-blue: #118ab2ff;
  --dark-green: #073b4cff;
}

body {
  justify-content: center;
  margin: auto;
  height: 100%;
  max-width: 100vw;
  background-image: url("./website-background.jpg");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

.title {
  margin: auto;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
  color: (--dark-green);
  background-color: #ffd166ff;
  padding: 1.2vmin;
  width: 40%;
  border-radius: 1rem;
  border-style: solid;
  border-color: #073b4cff;
}

/* NAV SECTION */

.navbar {
  background-color: #ffd166ff;
  border-bottom: 2px solid #073b4cff;
  /* padding: 0 !important; */
}

.navBrand {
  color: #ffd166ff;
}

.navLink {
  color: #ffd166ff;
}

.toggler {
  background-color: #ffd166ff;
}

/* HOME */

header {
  /* height: 100%; */
  overflow: hidden;
}

.cj {
  color: #ef476fff;
}

.welcome-pic {
  width: 100%;
  border-style: solid;
  border-color: #073b4cff;
}

.pic {
  border-radius: 1rem;
  border-style: solid;
  border-color: #073b4cff;
}

.panel {
  position: relative;
  top: 2vmin;
  width: 30vmin;
  height: 14.5em;
  background: #ffd166ff;

  text-align: left;
  z-index: 1;
  color: (--dark-green);
  border-radius: 10%;
  padding-left: 1vmin;

  border-style: solid;
  border-color: #073b4cff;
}

.panel-item {
  color: var(--dark-green);
}

.panel-paragraph {
  background: var(--dark-green);
  color: #ffd166ff;
  padding: 1rem;
  border-radius: 1rem;
}

.home-row {
  position: relative;
}

.smallScreenPic {
  margin-top: 1rem;
}

.bigScreenPic {
  position: relative;
  bottom: 14.5em;
  margin-bottom: -14.5em;
}

/* ABOUT ME SECTION */

.thunderbirds {
  margin-bottom: 1vmin;
  height: 33vmin;
  width: 33vmin;
}

.guitar {
  margin-bottom: 1vmin;
  max-height: 30vmin;
}

.smallGuitar {
  height: 55vmin;
}

.about-me {
  text-align: justify;
}

.hello-world {
  color: #ef476fff;
}

.panel-paragraph {
  padding: 2rem;
}

/* DEV SECTION */

.dev {
  margin-left: 0.2rem;
  text-align: center;
  margin-bottom: 1rem;
}

.square {
  max-height: 0.5rem;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 5rem;
}

.logo {
  height: 5rem;
  padding-top: 1rem;
}

.logo-container {
  justify-content: space-around;
}

.devpic {
  /* height: 19rem; */
  margin-bottom: 1rem;
  width: 80vmin;
  margin-bottom: 1vmin;
  border-style: solid;
  border-color: #073b4cff;
}

.logo-container {
  padding-bottom: 0.5rem;
}

.projects-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-image {
  margin-top: 0.5rem;
  height: 10rem;
}

.project-cards {
  margin-left: 1rem;
  margin-right: 1rem;

  /* max-width: 28rem; */
}

.dev-card {
  margin-top: 1rem;
  border-radius: 2.3rem;
  border-style: solid;
  border-color: #073b4cff;
}

/* MUSIC SECTION */

.websites {
  margin-top: 3vmin;
}

.card {
  height: 25rem;
  margin-bottom: 1rem;
  border-radius: 2rem;
  box-shadow: 3px 5px #888888;
  border-style: solid;
  border-color: #073b4cff;
}

.music-website-image {
  height: 15rem;
}

.music-p {
  margin-bottom: 2rem;
}

.music-card {
  /* width: 70vmin; */
  margin-bottom: 1rem;
  background-color: var(--light-blue);
  border-radius: 2.3rem;
  border-style: solid;
  border-color: #073b4cff;
}

.card-title {
  color: #ffd166ff;
}

.card-text {
  color: #ffd166ff;
  border-radius: 2rem;
}

.card-body {
  background-color: var(--dark-green);
  border-radius: 2rem;
  opacity: 0.8;
}

/* CONTACT */

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

/* FOOTER */

Footer {
  background-color: #073b4cff !important;
}
